# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# build result
Debug/
Release/
x64/
x86/
[Oo]bj/
[Bb]in/
*.exe
*.dll
*.lib
*.pdb
*.idb
*.ipch
*.iobj
*.log
*.tlog
*.lastbuildstate
*.sdf
*.cache
*.db
*.opendb
*.VC.db
*.VC.opendb

# temp file
*.tmp
*.temp
*.~*
*.swp

# other
*.ncb
*.aps
*.plg
*.vsscc
*.vssscc
*.vspscc
*.vssscc
*.scc

# CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile

# etc IDE/tool
ipch/
*.pyc
*.pyo
*.pyd
__pycache__/