# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vs/
# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/Data_Storage_Project/Data_Storage_Project.vcxproj
*.tlog
*.log
*.json
*.ifc
*.command
/Data_Storage_Project/x64/Debug/vc143.idb
/Data_Storage_Project/x64/Debug/Data_Sto.a88df541.tlog/link.command.1.tlog
/Data_Storage_Project/x64/Debug/Data_Sto.a88df541.tlog/link.read.1.tlog
/Data_Storage_Project/x64/Debug/Data_Sto.a88df541.tlog/link.write.1.tlog
/Data_Storage_Project/x64/Debug/Data_Sto.a88df541.tlog/link.secondary.1.tlog
/Data_Storage_Project/x64/Debug/Data_Sto.a88df541.tlog/Data_Storage_Project.lastbuildstate
/Data_Storage_Project/x64/Debug/Data_Sto.a88df541.tlog/CL.command.1.tlog
/Data_Storage_Project/x64/Debug/Data_Storage_Project.exe.recipe
/Data_Storage_Project/x64/Debug/Data_Sto.a88df541.tlog/Cl.items.tlog
